<section id="why">
    <div class="container">
        <div scroll-visible class="section-heading scrollpoint sp-effect3">
            <h1>{{main.label['main']['why']['heading']}}</h1>
            <div class="divider"></div>
        </div>

        <div class="row">
            <div ng-repeat="item in main.label['main']['why']['items']" class="col-md-4 col-sm-4 col-xs-12">
                <div scroll-visible class="why-item scrollpoint sp-effect5">
<!--                            <i class="fa {{item['fa-icon']}} fa-5x"></i>-->
                    <img ng-src="{{item['icon']}}" class="img-responsive" />
                    <h3>{{item['heading']}}</h3>
                    <p>{{item['content']}}</p>
                </div>
            </div>
        </div>
<!--                <a ui-sref="signup" class="find-out-more">{{main.label['main']['why']['find-out-more']}}</a>-->
    </div>
</section>
<section id="growWithUs">
    <div class="container">
        <img src="assets/img/freeze/Lagobe_SC.jpg" class="img-responsive" alt="">
    </div>
</section>
<section id="howToSell">
    <div class="container">
        <div class="how-to-sell">
            <div class="row">
                <div scroll-visible class="col-md-7 col-sm-7 scrollpoint sp-effect1">
                    <h1>{{main.label['main']['how-to-sell']['title']}}</h1>
                    <p>{{main.label['main']['how-to-sell']['paragraph']}}</p>
                    <ul>
                        <li ng-repeat="text in main.label['main']['how-to-sell']['items']"><i class="fa fa-check-circle"></i> {{text}}</li>
                    </ul>
                </div>
                <div scroll-visible class="col-md-5 col-sm-5 scrollpoint sp-effect4">
                    <img src="assets/img/freeze/how-to-sell.png" class="img-responsive" alt="">
                </div>
            </div>
<!--                    <a ui-sref="signup" class="find-out-more">{{main.label['main']['how-to-sell']['find-out-more']}}</a>-->
        </div>
    </div>
</section>

<!--
<section id="store">
    <div class="container">
        <div class="row">
            <div ng-repeat="item in main.label['main']['store']['items']" class="col-md-4 col-sm-4 col-xs-12">
                <div scroll-visible class="scrollpoint sp-effect4 store-item">
                    <div class="number" num-count-speed num-target="{{item.number}}"></div>
                    <div class="unit">{{item.unit}}</div>
                </div>
            </div>
        </div>
        <img src="assets/img/freeze/Lagobe_SC_logo.jpg" class="img-responsive" alt="">
        <a ui-sref="signup" class="find-out-more">{{main.label['main']['store']['find-out-more']}}</a>
    </div>
</section>
-->

<!--
    <section id="features">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3">
                <h1>Features</h1>
                <div class="divider"></div>
                <p>Learn more about this feature packed App</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-cogs fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">User Settings</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Messages Inbox</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-users fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Friends List</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-comments fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Live Chat Messages</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-calendar fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Calendar / Planner</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <img src="assets/img/freeze/iphone-freeze.png" class="img-responsive scrollpoint sp-effect5" alt="">
                </div>
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">My Places</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-film fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Media Player™</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-compass fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Intuitive Statistics</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-picture-o fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Weather on-the-go</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                    <div class="media active feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">And much more!</h3>
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
<!--
<section id="reviews">
    <div class="container">

            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Reviews</h1>
                <div class="divider"></div>
                <p>Read What's The People Are Saying About Us</p>
            </div>

        <div class="row">
            <div scroll-visible class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-8 col-xs-push-2 scrollpoint sp-effect3">
                <div class="review-filtering" reviews-carousel>
                    <div ng-repeat="(index, item) in main.label['main']['review']['items']" class="review">
                        <div class="review-comment" ng-class="{ rollitin: (index > 0)  }">
                            <h3>{{item.comment}}</h3>
                        </div>
                        <div class="review-person">
                            <img align="left" ng-src="{{item.picture}}" alt="">
                            <div class="reviewer">
                                <div class="reviewer-name">{{item.name}}</div>
                                <div class="reviewer-position">{{item.position}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--
    <section id="screens">
        <div class="container">

            <div class="section-heading scrollpoint sp-effect3">
                <h1>Screens</h1>
                <div class="divider"></div>
                <p>See what’s included in the App</p>
            </div>

            <div class="filter scrollpoint sp-effect3">
                <a href="javascript:void(0)" class="button js-filter-all active">All Screens</a>
                <a href="javascript:void(0)" class="button js-filter-one">User Access</a>
                <a href="javascript:void(0)" class="button js-filter-two">Social Network</a>
                <a href="javascript:void(0)" class="button js-filter-three">Media Players</a>
            </div>
            <div class="slider filtering scrollpoint sp-effect5" >
                <div class="one">
                    <img src="assets/img/freeze/screens/profile.jpg" alt="">
                    <h4>Profile Page</h4>
                </div>
                <div class="two">
                    <img src="assets/img/freeze/screens/menu.jpg" alt="">
                    <h4>Toggel Menu</h4>
                </div>
                <div class="three">
                    <img src="assets/img/freeze/screens/weather.jpg" alt="">
                    <h4>Weather Forcast</h4>
                </div>
                <div class="one">
                    <img src="assets/img/freeze/screens/signup.jpg" alt="">
                    <h4>Sign Up</h4>
                </div>
                <div class="one">
                    <img src="assets/img/freeze/screens/calendar.jpg" alt="">
                    <h4>Event Calendar</h4>
                </div>
                <div class="two">
                    <img src="assets/img/freeze/screens/options.jpg" alt="">
                    <h4>Some Options</h4>
                </div>
                <div class="three">
                    <img src="assets/img/freeze/screens/sales.jpg" alt="">
                    <h4>Sales Analysis</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="demo">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3">
                <h1>Demo</h1>
                <div class="divider"></div>
                <p>Take a closer look in more detail</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                    <div class="video-container" >
                        <iframe src="http://player.vimeo.com/video/70984663"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="getApp">
        <div class="container-fluid">
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Get App</h1>
                <div class="divider"></div>
                <p>Choose your native platform and get started!</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
                        <img src="assets/img/freeze/freeze-angled2.png" alt="">
                    </div>
                    <div class="platforms">
                        <a href="#" class="btn btn-primary inverse scrollpoint sp-effect1">
                            <i class="fa fa-android fa-3x pull-left"></i>
                            <span>Download for</span><br>
                            <b>Android</b>
                        </a>

                            <a href="#" class="btn btn-primary inverse scrollpoint sp-effect2">
                                <i class="fa fa-apple fa-3x pull-left"></i>
                                <span>Download for</span><br>
                                <b>Apple IOS</b>
                            </a>
                    </div>

                </div>
            </div>



        </div>
    </section>

    <section id="support" class="doublediagonal">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3">
                <h1>Support</h1>
                <div class="divider"></div>
                <p>For more info and support, contact us!</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
                            <form role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your email">
                                </div>
                                <div class="form-group">
                                    <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
                            <div class="media">
                                <a class="pull-left" href="#" >
                                    <i class="fa fa-map-marker fa-2x"></i>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">4, Some street, California, USA</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#" >
                                    <i class="fa fa-envelope fa-2x"></i>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="mailto:support@oleose.com">support@oleose.com</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#" >
                                    <i class="fa fa-phone fa-2x"></i>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">+1 234 567890</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
<section id="logoWithModel">
    <div align="center" class="logo-with-model">
        <img src="assets/img/freeze/Lagobe_SC_logo.jpg" class="img-responsive" alt="">
    </div>
</section>
