<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Lagobe | Seller Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
    <link rel="manifest" href="images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Bootstrap 3.3.2 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/js/rs-plugin/css/settings.css">

    <link rel="stylesheet" href="assets/css/styles.css">


    <script type="text/javascript" src="assets/js/modernizr.custom.32033.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .vcenter {
            position: absolute;
            right: 10%;
            top: 20%;
            width: 300px;
            border: 3px solid #73AD21;
            padding: 100px;
            background-color: white;
        }
    </style>
</head>

<body>
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>New Affiliate Signup</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="storeName">Store Name</label>
      <div class="col-md-5">
      <input id="storeName" name="storeName" type="text" placeholder="Store Name" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="lname">xxx</label>  
      <div class="col-md-5">
      <input id="lname" name="lname" type="text" placeholder="Date" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="invoiceName">Invoice Name</label>  
      <div class="col-md-5">
      <input id="invoiceName" name="invoiceName" type="text" placeholder="Invoice Name" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="invoiceName">xxx</label>  
      <div class="col-md-5">
      <input id="invoiceName" name="invoiceName" type="text" placeholder="Lagobe's BD Person" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="invoiceName">xxx</label>  
      <div class="col-md-5">
      <input id="invoiceName" name="invoiceName" type="text" placeholder="Sign on behalf of Individual/Company" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="website">Website</label>  
      <div class="col-md-5">
      <input id="website" name="website" type="text" placeholder="Website" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="facebook">Facebook</label>  
      <div class="col-md-5">
      <input id="facebook" name="facebook" type="text" placeholder="Facebook" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bankAccNo">Bank Account Number</label>  
      <div class="col-md-5">
      <input id="bankAccNo" name="bankAccNo" type="text" placeholder="Bank Account Number" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bankName">Bank Name</label>  
      <div class="col-md-5">
      <input id="bankName" name="bankName" type="text" placeholder="Bank Name" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bankAccName">Bank Account Name</label>  
      <div class="col-md-5">
      <input id="bankAccName" name="bankAccName" type="text" placeholder="Bank Account Name" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bankAccName">xxx</label>  
      <div class="col-md-5">
      <input id="bankAccName" name="bankAccName" type="text" placeholder="Store's Sales Contact Name" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bankAccName">xxx</label>  
      <div class="col-md-5">
      <input id="bankAccName" name="bankAccName" type="text" placeholder="Store's Sales Contact Number" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="storeEmail">Store's E-mail</label>  
      <div class="col-md-5">
      <input id="storeEmail" name="storeEmail" type="text" placeholder="Store's E-mail" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="pickupAddr">Pick-up Address</label>  
      <div class="col-md-5">
      <input id="pickupAddr" name="pickupAddr" type="text" placeholder="Pick-up Address" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="docDropAddr">Document Drop Address</label>  
      <div class="col-md-5">
      <input id="docDropAddr" name="docDropAddr" type="text" placeholder="Document Drop Address" class="form-control input-md" required="">

      </div>
    </div>
        
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="commissions">Commissions</label>  
      <div class="col-md-5">
      <input id="commissions" name="commissions" type="text" placeholder="Commissions" class="form-control input-md" required="">

      </div>
    </div>
        
    

    
<!--
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>  
      <div class="col-md-5">
      <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">

      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="addr1">Address Line 1</label>  
      <div class="col-md-5">
      <input id="addr1" name="addr1" type="text" placeholder="Address Line 1" class="form-control input-md" required="">

      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="addr2">Address Line 2</label>  
      <div class="col-md-5">
      <input id="addr2" name="addr2" type="text" placeholder="Address Line 2" class="form-control input-md">

      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="city">City</label>  
      <div class="col-md-4">
      <input id="city" name="city" type="text" placeholder="City" class="form-control input-md" required="">

      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="state">State</label>
      <div class="col-md-4">
        <select id="state" name="state" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="zip">Zip Code</label>  
      <div class="col-md-4">
      <input id="zip" name="zip" type="text" placeholder="5 Digit Zip Code" class="form-control input-md" required="">

      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="paypal">PayPal Email</label>  
      <div class="col-md-5">
      <input id="paypal" name="paypal" type="text" placeholder="PayPal Email Address" class="form-control input-md">
      <span class="help-block">If you would like to be paid commissions via PayPal, enter your PayPal email address. Your PayPal account must be verified!</span>  
      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="check">Check</label>  
      <div class="col-md-5">
      <input id="check" name="check" type="text" placeholder="Check" class="form-control input-md">
      <span class="help-block">If you would prefer to be paid by check, please enter the name you wish to appear on the check. This should be the affiliate account holders name or business name.</span>  
      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="ssnein">SSN or EIN</label>  
      <div class="col-md-5">
      <input id="ssnein" name="ssnein" type="text" placeholder="SSN or EIN" class="form-control input-md" required="">
      <span class="help-block">We are required by law to 1099 every affiliate that generates over $600 per year in commissions. Please enter the tax payers SSN or EIN number.<br><br>You will also need to fill out a W-9 IRS form. You can download a copy here: <a href="http://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">W-9 Form</a>. You will need to fax back a completed and signed copy to 555-1212-1212 or email a completed and signed copy to test@test.com</span>  
      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="notes">How do you intend to promote our product(s)?</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="notes" name="notes">Please let us know how you intend to promote I Get Fixed?</textarea>
      </div>
    </div>

    
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwd">Password</label>  
      <div class="col-md-5">
      <input id="passwd" name="passwd" type="text" placeholder="Password" class="form-control input-md" required="">
      <span class="help-block">You will need your email address and the password you create here, to login to the affiliate area.</span>  
      </div>
    </div>
-->

    <!-- Multiple Checkboxes (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="agree">&nbsp;</label>
      <div class="col-md-4">
        <label class="checkbox-inline" for="agree-0">
          <input type="checkbox" name="agree" id="agree-0" value="1">
          <!-- Yes (You must agree to our terms of service which you can view by <a href="#" target="_blank">clicking here</a> -->
            
          By Signing Up to Sell you are agreeing to these Terms & Conditions.
        </label>
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <label class="checkbox-inline" for="submit">
          <input class="btn btn-success" type="submit" name="submit" id="submit" value="Create New Affiliate Account">
        </label>
      </div>
    </div>

    </fieldset>
    </form>    
</body>
</html>