.display-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
html,
body,
div[ui-view] {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat-Light', 'Montserrat-Regular', 'Kanit', 'SukhumvitSet-Text', 'Lato', Arial;
}
signup-page {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  position: relative;
  height: 100%;
}
signup-page header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000080;
}
signup-page header .logo {
  width: 180px;
  height: auto;
  margin-left: 20px;
}
signup-page header .navbar-toggle {
  margin-left: 15px;
}
signup-page .wrapper {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* same as flex: 1 1 auto; */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
signup-page .wrapper .left-side {
  background-color: lavender;
}
signup-page .wrapper .right-side {
  background-color: white;
}
signup-page .wrapper .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}
signup-page .wrapper ul.step-tabs {
  list-style-type: none;
  margin: 0px -15px;
  padding: 0px;
}
signup-page .wrapper ul.step-tabs > li.active {
  background-color: #ffffff;
}
signup-page .wrapper ul.step-tabs > li > a.step-tab {
  display: block;
  padding: 15px 0;
  padding-left: 15px;
  color: #000080;
  font-size: 16pt;
}
signup-page .wrapper ul.step-tabs > li > a.step-tab:hover,
signup-page .wrapper ul.step-tabs > li > a.step-tab:focus {
  color: #000080;
  background-color: #ffffff;
  text-decoration: none;
}
signup-page .wrapper .tab-content {
  position: absolute;
  right: 0px;
  left: 0px;
  height: 100%;
  overflow: auto;
}
signup-page .wrapper .form-control[readonly] {
  color: black;
}
signup-page .wrapper .btn-save {
  margin: 15px 8px 15px 0px;
  width: 50%;
}
signup-page .wrapper .btn-cancel {
  margin: 15px 0px 15px 8px;
  width: 50%;
}
signup-page .wrapper .BDName {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
signup-page .wrapper img {
  margin: 0 auto;
}
signup-page .wrapper .summary-value {
  line-height: 34px;
}
signup-page .outputprint .form-control[readonly] {
  color: black;
}
signup-page .outputprint .btn-save {
  margin: 15px 8px 15px 0px;
  width: 50%;
}
signup-page .outputprint .btn-cancel {
  margin: 15px 0px 15px 8px;
  width: 50%;
}
signup-page .outputprint .BDName {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
signup-page .outputprint label {
  display: block;
}
signup-page .outputprint img {
  margin: 0 auto;
}
signup-page .outputprint .summary-value {
  line-height: 34px;
}
@media screen and (max-width: 767px) {
  signup-page header .logo {
    margin-left: -15px;
  }
  signup-page header .navbar-toggle {
    margin-left: 15px;
  }
  signup-page .wrapper .left-side {
    padding-left: 0px;
    padding-right: 0px;
  }
  signup-page .wrapper ul.step-tabs {
    width: 200px;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) {
  signup-page .wrapper ul.step-tabs > li > a.step-tab {
    padding-left: 14%;
  }
}
@media screen and (min-width: 992px) {
  signup-page .wrapper ul.step-tabs > li > a.step-tab {
    padding-left: 25%;
  }
}
